---
import {
  randomNumber,
  randomNumberNotFloor,
  type MeteorInformation,
} from "../utils/utils";
const METEOR_NUMBER = 16;

const createMeteor = () => {
  const meteors = [];

  for (let i = 0; i < METEOR_NUMBER; i++) {
    const data: MeteorInformation = {
      className: `meteor__${i} hidden`,
      style: {
        left: `${randomNumber(50, 150)}%`,
        top: `${randomNumber(30, 40)}%`,
        "animation-name": "meteor",
        "animation-duration": `${randomNumberNotFloor(3, 6)}s`,
        "animation-iteration-count": "infinite",
        "animation-timing-function": "linear",
      },
    };

    meteors.push(data);
  }

  return meteors;
};
---

<section class="meteor-container">
  {
    createMeteor().map((meteor) => {
      return <div class={meteor.className} style={{ ...meteor.style }} />;
    })
  }
</section>

<style lang="scss">
  @use "sass:math";

  $NUMBER_METEOR_DESKTOP: 8;
  $NUMBER_METEOR_MOBILE: 3;
  $NUMBER_METEOR_TABLET: 5;

  .hidden {
    display: none;
  }

  @mixin meteor {
    display: block;
    z-index: 1000;
    position: fixed;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    &:before {
      content: "";
      z-index: 1000;
      position: fixed;
      width: 4px;
      height: 5px;
      border-radius: 50%;
      margin-top: -2px;
      background: rgba(#fff, 0.7);
      box-shadow: 0 0 15px 3px #fff;
    }
  }

  @for $i from 0 through $NUMBER_METEOR_MOBILE {
    .meteor__#{$i} {
      @include meteor();
    }
  }

  //Tablet 445 x 720
  @media (min-width: px-to-rem(600px)) {
    @for $i from $NUMBER_METEOR_MOBILE through $NUMBER_METEOR_TABLET {
      .meteor__#{$i} {
        @include meteor();
      }
    }
  }

  //Desktop 348 x 766
  @media (min-width: px-to-rem(1280px)) {
    @for $i from $NUMBER_METEOR_MOBILE through $NUMBER_METEOR_DESKTOP {
      .meteor__#{$i} {
        @include meteor();
      }
    }
  }

  @keyframes meteor {
    0% {
      opacity: 1;
      margin-top: -600px;
      margin-right: -600px;
    }
    42% {
      opacity: 0;
    }
    65% {
      margin-top: 600px;
      margin-left: -1200px;
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
</style>
